{% extends 'base.html' %}
{% block content %}
<div class="px-3 py-5">
{% if erreur %}
    <p>Erreur : {{erreur}}</p>
{% endif %}

    <form method="POST" action = "{{url_for('register')}}">
        <div>
            <input name="user" type = "text" placeholder="Username">
        </div>
        <div>
            <input name="password" type = "password" placeholder="Password">
        </div>
        <div>
            <input name="confirm_password" type = "password" placeholder="Confirm Password">
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>
{% endblock %}
